<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 6: Quote Finder</title>
</head>
<body>
    
    <h1> Quote Finder </h1>


    <form action="/searchByKeyword" method="GET">
      Keyword: <input type="text" name="keyword">
      <button> Search by Keyword </button>
    </form>

</body>
</html>